# Configuration Serveur
PORT=5000
NODE_ENV=development
CLIENT_URL=*

# Base de Données MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/montaxi_db

# Cache & Files Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Sécurité & Authentification JWT
JWT_ACCESS_SECRET=votre_cle_secrete_access_token_tres_longue_et_aleatoire
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=votre_cle_secrete_refresh_token_tres_longue_et_aleatoire
JWT_REFRESH_EXPIRES_IN=30d

# Services Tiers & Géolocalisation
LOCATIONIQ_API_KEY=votre_cle_locationiq
EXPO_ACCESS_TOKEN=

# Paramètres Geofencing (Abidjan)
DEFAULT_LATITUDE=5.359952
DEFAULT_LONGITUDE=-4.008256
MAX_DISPATCH_RADIUS_KM=15
